<html>
  <head>
    <title>Hashtag Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.min.css">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fa fa-twitter fa-lg"></i>#Tag Search</a>
          </div>
       
        </div>
      </div>

      <section id="main">
        <div class="container">
          <div class="row">

            <div class="col-md-6 col-md-offset-3 centered">
                
                <h2>Twitter Hashtag Search</h2>
                <p class="lead">Enter any hashtag text below to get the 10 most recent tweets with that hashtag.</p>

                <div class="alert alert-warning collapse" id="alert" role="alert"></div>  

                <div class="input-group">
                   <span class="input-group-addon" id="basic-addon1">#</span>
                    <input type="text" class="form-control input-lg" placeholder="Search any #tag" id="hashtag" name="hashtag" aria-describedby="basic-addon1">                    
                   <span class="input-group-btn">
                    <button class="btn btn-search btn-theme" id="submitButton">Search</button>
                   </span>
                </div> <!--input-group -->

                <span class="help-block">Some examples: #ilovecats #sushi #summer #happybunny #coffee #javascript</span>
                    
            </div>

          </div><!-- /row -->
        </div> <!-- /container -->
    </section><!-- /section -->

    <section id="tweets">

        <div class="container">
          <div class="row">

            <div class="panel collapse col-md-6 col-xs-12">
              <div class="panel-body">
                 
                <div class="centered" id="0"></div>

              </div>
            </div>

            <div class="panel collapse col-md-6 col-xs-12">
              <div class="panel-body">
                 
               <div class="centered" id="1"></div>

              </div>
            </div>

          </div> <!--row-->  
          <div class="row">

            <div class="panel collapse col-md-6 col-xs-12">
              <div class="panel-body">
                 
                <div class="centered" id="2"></div>

              </div>
            </div>

            <div class="panel collapse col-md-6 col-xs-12">
              <div class="panel-body">
                 
               <div class="centered" id="3"></div>

              </div>
            </div>

          </div> <!--row-->   
          <div class="row">  

            <div class="panel collapse col-md-6 col-xs-12">
              <div class="panel-body">
                 
                <div class="centered" id="4"></div>

              </div>
            </div>

            <div class="panel collapse col-md-6 col-xs-12">
              <div class="panel-body">
                 
               <div class="centered" id="5"></div>

              </div>
            </div>

          </div> <!--row--> 
          <div class="row">  

            <div class="panel collapse col-md-6 col-xs-12">
              <div class="panel-body">
                 
                <div class="centered" id="6"></div>

              </div>
            </div>

            <div class="panel collapse col-md-6 col-xs-12">
              <div class="panel-body">
                 
               <div class="centered" id="7"></div>

              </div>
            </div>

          </div> <!--row-->   
          <div class="row">  

            <div class="panel collapse col-md-6 col-xs-12">
              <div class="panel-body">
                 
                <div class="centered" id="8"></div>

              </div>
            </div>

            <div class="panel collapse col-md-6 col-xs-12">
              <div class="panel-body">
                 
               <div class="centered" id="9"></div>

              </div>
            </div>

          </div> <!--row--> 
          </div><!--container-->
          
        </section>

      </div><!--container-->

      <footer class="footer">
        <div class="container">
            <div class="row">
              <div class="container pull-right">
                <p><i class="fa fa-twitter fa-lg"></i></p>
              </div>  
            </div>
        </div>
      </footer>

      <script src="/js/vanilla.min.js"></script>

</body>
</html>